@import '../variable';

.create-campaign {
  padding: $admin-content-padding;
  .ttl {
    display: flex;
    flex-direction: column;
    & > span {
      font-size: var(--body-size);
      opacity: 0.8;
      margin-top: 0.5rem;
      font-weight: 400;
    }
  }
}
.form-parts {
  max-width: 50%;
  margin: 0 auto;
  .fieldset {
    .field-label {
      font-size: calc(var(--body-size) + 0.4rem);
    }
    .noted {
      z-index: 10;
      max-width: 6rem;
      text-align: center;
      .icon {
        width: 4rem;
        height: 4rem;
        border-radius: $border-radius;
        background-color: #e9e9e9;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 0.5rem;
        svg {
          width: 2.5rem;
          height: 2.5rem;
          path {
            fill: $red;
          }
        }
      }
      .tooltip-trigger {
        width: 15px;
        height: 15px;
        display: flex;
        margin: 0 auto;
        cursor: pointer;
      }
    }
    .--upload {
      .fieldset-group {
        background-color: $fieldset_bkg;
        padding: 1.5rem;
        border: 1px solid $border_color;
        border-radius: $border-radius;
      }
    }
    .--select {
      display: flex;
      align-items: center;
      gap: 1rem;
      select {
        min-width: 9rem;
      }
    }
  }
  .heading {
    font-size: calc(var(--body-size) + 0.4rem);
    font-weight: 600;
    margin: 0;
    display: flex;
    margin-bottom: 3rem;
    align-items: center;
    sub {
      font-weight: 400;
      border: 1px solid #e90000;
      color: #e90000;
      padding: 3px 5px;
      margin-left: 2rem;
      display: inline-block;
      line-height: 1;
      bottom: 0;
    }
    &-sub {
      margin-bottom: 2rem;
    }
  }
  .form-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
  }
}
.field-label {
  margin-bottom: 1.5rem;
}
.actionsList {
  margin-bottom: 8rem;
  .list {
    &-item {
      padding: 1.5rem;
      background-color: $fieldset_bkg;
      border-radius: $border-radius;
      margin-top: 1rem;
      display: flex;
      gap: 1rem 1.5rem;
      align-items: center;
      .icon {
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $border-radius;
        img {
          max-width: 3rem;
        }
        &.--line {
          img {
            max-width: 100%;
          }
        }
      }
      .--ques {
        background-color: $icon-ques_bkg;
      }
      .--quiz {
        background-color: $icon-quiz_bkg;
      }
      .--game {
        background-color: $icon-game_bkg;
      }
      .--serinumber {
        background-color: $icon-number_bkg;
      }
      .--user {
        background-color: $icon-user_bkg;
      }
      .title {
        flex: 1;
        .ttl {
          font-weight: 600;
          font-size: calc(var(--body-size) + 0.2rem);
        }
        .txt {
          margin: 0.5rem 0 0;
        }
      }
      .btn {
        max-width: 12rem;
      }
      &.--empty {
        padding: 2rem;
        text-align: center;
        border: 2px dashed $border_color;
        display: flex;
        justify-content: center;
      }
    }
  }
}
.actions-active {
  margin-bottom: $mgb;
}
.actions-list {
  margin-bottom: $mgb;
}
.add-gift {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border: 1px dotted $border_color;
  border-radius: $border-radius;
  background-color: $fieldset_bkg;
  min-height: 8rem;
  margin-bottom: 4rem;
}
.subscription-promotion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin-bottom: 2rem;
  background-color: #eae6fd;
  color: #53489c;
  padding: 1rem 1.5rem;
  border-radius: $border-radius;
  .btn-sub-pro {
    padding: 0.5rem 1rem;
    font-size: calc(var(--body-size) - 0.2rem);
  }
}
.action-title {
  margin-bottom: 3rem;
  .ttl {
    font-size: calc(var(--body-size) + 0.6rem);
    font-weight: 500;
  }
}
.actions-form {
  display: flex;
  gap: 4rem;
  & > * {
    flex: 1;
  }
  &__right {
    max-width: 20rem;
  }
  .plus {
    display: flex;
    justify-content: flex-end;
    .icon {
      cursor: pointer;
      svg {
        width: 4.5rem;
        height: 4.5rem;
        path {
          fill: $link-hover;
        }
        &:hover {
          path {
            fill: $link;
          }
        }
      }
    }
  }
}
.fieldset {
  &.shadow {
    padding: $admin-content-padding;
    border-radius: $border-radius;
    border: 1px solid $border-radius;
    margin-top: 2rem;
  }
  .--radio {
    & > label {
      position: relative;
      input.field-control {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .--checkbox {
    &.check-btn {
      max-width: 8rem;
      & > label {
        position: relative;
        input.field-control {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          width: auto;
          height: auto;
          &:checked {
            & + .label {
              background-color: $link-hover;
              color: #fff;
            }
          }
        }
        .label {
          padding: 1rem;
          background-color: #ddd;
          border-radius: $border-radius;
          min-width: 6rem;
          text-align: center;
          display: inline-block;
          &::before {
            display: none;
          }
        }
      }
      & + .--input,
      & + .--upload {
        max-width: calc(100% - 14rem);
      }
    }
  }
  .btn-delete {
    max-width: 6rem;
    border: none;
    padding: 0;
    color: $link-hover;
  }
  &-answer,
  &-image {
    .fieldset-group {
      padding: 1.5rem;
      background-color: $fieldset_bkg;
      border: 1px solid $border_color;
      border-radius: $border-radius;
    }
  }
  &-truefalse {
    .true-false {
      display: flex;
      align-items: center;
      justify-content: space-between;
      & > * {
        flex: 1;
      }
      & > label {
        position: relative;
        input.field-control {
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          width: auto;
          height: auto;
          transform: none;
          &:checked {
            & + .label {
              background-color: $link-hover;
            }
          }
        }
      }
      .radio {
        display: flex;
        margin: 0;
        .label {
          padding: 1rem;
          min-height: 8rem;
          background-color: #cecccc;
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          &::before {
            display: none;
          }
          svg {
            width: 5rem;
            height: 5rem;
            path {
              fill: #fff;
            }
          }
        }
        &.--true {
          .label {
            border-radius: $border-radius 0 0 $border-radius;
          }
        }
        &.--false {
          .label {
            border-radius: 0 $border-radius $border-radius 0;
          }
        }
      }
    }
  }
  &-image {
    .--upload {
      display: flex;
      align-items: center;
      gap: 4rem;
      .image {
        width: 50%;
      }
      .btn {
        flex: 1;
      }
    }
  }
}
