@import '../variable';

.create-campaign {
  padding: $admin-content-padding;
  .ttl {
    display: flex;
    flex-direction: column;
    & > span {
      font-size: var(--body-size);
      opacity: 0.8;
      margin-top: 0.5rem;
      font-weight: 400;
    }
  }
}
.form-parts {
  max-width: 50%;
  margin: 0 auto;
  .fieldset {
    .field-label {
      font-size: calc(var(--body-size) + 0.4rem);
    }
    .noted {
      z-index: 10;
      max-width: 6rem;
      text-align: center;
      .icon {
        width: 4rem;
        height: 4rem;
        border-radius: $border-radius;
        background-color: #e9e9e9;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 0.5rem;
        svg {
          width: 2.5rem;
          height: 2.5rem;
          path {
            fill: $red;
          }
        }
      }
      .tooltip-trigger {
        width: 15px;
        height: 15px;
        display: flex;
        margin: 0 auto;
        cursor: pointer;
      }
    }
    .--upload {
      .fieldset-group {
        background-color: $fieldset-bkg;
        padding: 1.5rem;
        border: 1px solid $border-color;
        border-radius: $border-radius;
      }
    }
    .--select {
      display: flex;
      align-items: center;
      gap: 1rem;
      select {
        min-width: 9rem;
      }
    }
  }
  .heading {
    font-size: calc(var(--body-size) + 0.4rem);
    font-weight: 600;
    margin: 0;
    display: flex;
    margin-bottom: 3rem;
    align-items: center;
    sub {
      font-weight: 400;
      border: 1px solid #e90000;
      color: #e90000;
      padding: 3px 5px;
      margin-left: 2rem;
      display: inline-block;
      line-height: 1;
      bottom: 0;
    }
    &-sub {
      margin-bottom: 2rem;
    }
  }
  .form-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
  }
}
.field-label {
  margin-bottom: 1.5rem;
}
.actionsList {
  margin-bottom: 8rem;
  .list {
    &-item {
      padding: 1.5rem;
      background-color: $fieldset-bkg;
      border-radius: $border-radius;
      margin-top: 1rem;
      display: flex;
      gap: 1rem 1.5rem;
      align-items: center;
      .icon {
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: $border-radius;
        img {
          max-width: 3rem;
        }
        &.--line {
          img {
            max-width: 100%;
          }
        }
      }
      .--ques {
        background-color: $icon-ques_bkg;
      }
      .--quiz {
        background-color: $icon-quiz_bkg;
      }
      .--game {
        background-color: $icon-game_bkg;
      }
      .--serinumber {
        background-color: $icon-number_bkg;
      }
      .title {
        flex: 1;
        .ttl {
          font-weight: 600;
          font-size: calc(var(--body-size) + 0.2rem);
        }
        .txt {
          margin: 0.5rem 0 0;
        }
      }
      .btn {
        max-width: 12rem;
      }
      &.--empty {
        padding: 2rem;
        text-align: center;
        border: 2px dashed $border-color;
        display: flex;
        justify-content: center;
      }
    }
  }
}
.actions-active {
  margin-bottom: $mgb;
}
.actions-list {
  margin-bottom: $mgb;
}
.add-gift {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border: 1px dotted $border-color;
  border-radius: $border-radius;
  background-color: $fieldset-bkg;
  min-height: 8rem;
}
