$white :                            #fff;
$black:                             #3B4043;
$red:                               #D83320;
$skye-blue:                         #294A98;
$blue:                              #0086AC;
$green:                             #35A02E;

$small-color:                       #666;


$font-weight-bold:                  700;
$font-weight-medium:                500;
$font-weight-normal:                400;


$hr-margin-y:                   1rem !default;
$hr-color:                      inherit !default;
$hr-border-color:               null !default;
$hr-border-width:               1px !default;
$hr-opacity:                    .25 !default;

$border-color:                  #e7e6e8;
$link:                          #02488f;


$transition:                   all 0.2s ease 0.1s;

$p-margin-top:                  1rem;
$content-margin-top:            5rem;

$th-td-py:                      1.5rem;
$th-td-px:                      2rem;
$th-bkg:                        #e1ecf7;

$dashboard-width:               25rem;
$dashboard-main-padding:        4rem;
$dashboard-btn-bkg:             #b40214;
$dashboard-btn-color:           #fff;


$page-ttl-size:                 2.4rem;

$box-shadow:                    rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

$btn-py:                        1.2rem;
$btn-px:                        2.5rem;
$btn-primary-bkg:               #022b54;
$btn-primary-color:             #fff;
$btn-second-bkg:                #ebeef0;
$btn-second-color:              #444;

$form-control-border:           #cecfd4;

$admin-content-padding:         4rem;
