$card-gap:  2rem 4rem;
$card-pd:  3rem;
$card-title-size:   2.4rem;
.card-wrapper{
  all: unset;
  display: flex;
  flex-wrap: nowrap;
  gap: $card-gap;
  .card{
    flex: 1 1 100%;
    padding: $card-pd;
    border: 2px solid $border-color;
    border-radius:5px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    color: var(--body-color);
    &-checked{
      position: absolute;
      right: 1rem;
      top:1rem;
      border: 2px solid #aaa;
      border-radius: 50%;
      width: 22px;
      height: 22px;
      transition: $transition;
    }
    &.selected{
      border-color: $link;
      .card-checked{
        background-color: $link;
        border: 3px solid #fff;
        box-shadow: 0 0 0 2px $link;
      }
    }
    &-title{
      margin-bottom: 2rem;
      &__img{
        margin-bottom: 1.5rem;
      }
      .title{
        font-size: $card-title-size;
        font-weight: 500;
      }
    }
  }
}
