.fieldset {
  margin-bottom: 2rem;
  &:last-child {
    margin-bottom: 0;
  }
  &-col {
    &:first-child {
      max-width: 27%;
      p {
        margin-top: 0.7rem;
      }
    }
    p {
      margin-top: 2rem;
      &:first-child {
        margin-top: 0;
      }
      & + input {
        margin-top: 0.7rem;
      }
    }
    * + p {
      margin-top: 0.7rem;
    }
  }
  &-row {
    margin: 4rem 0 1rem;
    &:first-child {
      margin-top: 0;
    }
    & > * {
      margin-top: 2rem;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  label {
    font-weight: 600;
    margin: 0;
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    sub {
      font-weight: 400;
      border: 1px solid #e90000;
      color: #e90000;
      padding: 3px 5px;
      margin-left: 2rem;
      display: inline-block;
      line-height: 1;
      bottom: 0;
    }
  }
  .field-control:not([type='radio'], [type='checkbox']) {
    border: 1px solid $border_color;
    background-color: #fff;
    padding: 1rem;
    border-radius: 4px;
    width: 100%;
    min-height: 4.4rem;
    color: #8e8e8e;
    &::placeholder,
    &::-webkit-input-placeholder {
      color: #8e8e8e;
    }
    &:focus {
      color: var(--body-color);
    }
  }
  &.--no-border {
    border-top: none;
  }
  &-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem 4rem;
    &:not(.--checkbox, .--radio) > * {
      flex: 1;
    }
    &:not(.--checkbox, .--radio) {
      & > label {
        max-width: 20%;
        font-weight: 600;
      }
    }
  }
  .char-counter {
    text-align: right;
    opacity: 0.6;
  }
  .note {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
}
.form {
  &-agree {
    background-color: #eff5f8;
    padding: 3rem 0;
    margin-top: 10rem;
    .--heading {
      text-align: center;
      font-size: 2.8rem;
      font-weight: 600;
      margin-bottom: 2.4rem;
      line-height: 1.6;
      span {
        display: inline-block;
        padding-bottom: 1.5rem;
        position: relative;
        &::before {
          content: '';
          width: 10rem;
          height: 2px;
          background-color: $link;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
        &::after {
          content: '';
          width: 5rem;
          height: 2px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          background-color: $link-hover;
          bottom: 0;
          margin-left: -2.5rem;
        }
      }
    }
    .fieldset {
      text-align: center;
      border: none;
      background-color: #fff;
      padding: 2rem;
      margin-top: 3.5rem;
      label {
        font-weight: 600;
      }
    }
  }
  &-captcha {
    text-align: center;
    margin-top: 4rem;
    & > * {
      margin: 0 auto;
      display: inline-block;
    }
  }
  .btn-action {
    align-items: center;
    justify-content: center;
  }
  .--radio,
  .--checkbox {
    label {
      position: relative;
      font-weight: 500;
      input {
        position: absolute;
        top: 3px;
        left: 0;
        width: 20px;
        height: 20px;
        opacity: 0;
        & + span {
          display: flex;
          align-items: center;
          &::before {
            content: '';
            background: #fff;
            border: 1px solid $border_color;
            display: inline-block;
            width: 16px;
            height: 16px;
            position: relative;
            margin-right: 0.5em;
            vertical-align: top;
            cursor: pointer;
            text-align: center;
            transition: $transition;
            border-radius: 2px;
          }
        }
      }
    }
  }
  .--radio {
    label {
      margin-right: 6rem;
      &:last-child {
        margin-right: 0;
      }
      input[type='radio'] {
        appearance: none;
        & + span {
          &::before {
            content: '';
            border-radius: 100%;
          }
        }
        &:checked {
          & + span {
            &::before {
              background-color: var(--body-color);
              box-shadow: inset 0 0 0 3px #fff;
            }
          }
        }
      }
    }
  }
  .--checkbox {
    label {
      margin-right: 4rem;
      &:last-child {
        margin-right: 0;
      }
      input[type='checkbox'] {
        &:checked {
          & + span {
            &::before {
              background-color: #333;
              border: 2px solid #fff;
              box-shadow: 0 0 0 1px #000;
            }
          }
        }
      }
    }
  }
  .--textarea {
    textarea {
      min-height: 14rem;
    }
  }
  .--select {
    .form-group--field {
      flex: 0 1 auto;
      min-width: 40%;
    }
    select + span {
      font-weight: 700;
    }
  }
  .--upload {
    position: relative;
    .fieldset-group {
      position: relative;
    }
    input[type='file'] {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
    }
  }
  .modal-footer {
    .btn-action {
      justify-content: flex-end;
    }
  }
}
.custom-select-container {
  position: relative;
  .custom-select-opener {
    background-color: #fff;
    border: 1px solid $border_color;
    padding: 0.5rem 1.5rem;
    padding-right: 3.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    position: relative;
    min-height: 4.4rem;
    min-width: 15rem;
    & > * {
      line-height: 1.3;
    }
    &::before {
      border-bottom: 2px solid var(--body-color);
      border-right: 2px solid var(--body-color);
      content: '';
      display: block;
      height: 10px;
      pointer-events: none;
      position: absolute;
      right: 1.5rem;
      top: 40%;
      transform: translateY(-40%);
      rotate: 45deg;
      transition: $transition;
      width: 10px;
    }
  }
  * {
    box-sizing: border-box;
  }
  .custom-select-panel {
    background-color: #f3f4f5;
    transition: all 0.3s ease 0.1s;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    z-index: 0;
    width: 100%;
    border: 1px solid transparent;
    border-top: none;
  }
  &.is-open {
    .custom-select-panel {
      max-height: 20rem;
      overflow-y: auto;
      z-index: 10;
      border-color: $border_color;
    }
    .custom-select-opener {
      &::before {
        rotate: -135deg;
        right: 1rem;
      }
    }
  }
  select {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
  }
  .custom-select-option {
    padding: 0.5rem 1rem;
    &.has-focus {
      background-color: $border_color;
    }
    &.is-selected {
      background-color: $link-hover;
      color: #fff;
    }
  }
}
@include media-breakpoint-down(md) {
  .fieldset {
    & > * {
      max-width: 100% !important;
      width: 100%;
    }
    &-col {
      p {
        margin-top: 1rem;
        &:first-child {
          margin-top: 0;
        }
        & + input {
          margin-top: 0.3rem;
        }
      }
      * + p {
        margin-top: 0.3rem;
      }
    }
    label {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .--radio,
    .--checkbox {
      label {
        position: relative;
        margin-right: 0;
        input {
          width: 16px;
          height: 16px;
          & + span {
            &::before {
              content: '';
              border-width: 1px;
              width: 16px;
              height: 16px;
              margin-right: 8px;
            }
          }
        }
      }
    }
    .--radio {
      display: flex;
      flex-direction: column;
      gap: 1rem 0;
      label {
        margin: 0;
      }
    }
    .--textarea {
      textarea {
        min-height: 30rem;
      }
    }
    &-group {
      margin-top: 1rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem 0;
      & > * {
        max-width: 100% !important;
        width: 100%;
      }
    }
  }
  .form {
    &-agree {
      margin-top: 6rem;
      padding: 2rem 0;
      .--heading {
        font-size: 2rem;
        margin-bottom: 2rem;
        span {
          padding-bottom: 1.2rem;
        }
      }
      .fieldset {
        margin-top: 2rem;
        padding: 1.5rem;
        .--checkbox {
          label {
            justify-content: center;
          }
        }
      }
    }
    &-captcha {
      margin-top: 3rem;
    }
  }
}
