$modal-pd: 4rem;

.modal {
  background: rgba(#000, 0.5);
  align-items: center;
  &-content {
    min-height: 40rem;
    padding: $modal-pd;
    border: none;
    box-shadow: $box-shadow;
    border-radius: 10px;
    text-align: left;
  }
  &-header {
    border: none;
    .return,
    .close {
      position: absolute;
      top: 0;
      width: 6rem;
      height: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      svg {
        width: 24px;
        height: 24px;
      }
    }
    .close {
      right: 0;
    }
    .return {
      left: 0;
    }
  }
  &.show {
    display: flex;
    & > div {
      flex: 1;
    }
  }
  .page-title {
    text-align: center;
  }
  &-body {
    max-height: 60vh;
    overflow-y: auto;
    margin-right: calc($modal-pd / 2 * -1);
  }
  &-footer {
    margin-left: -$modal-pd;
    margin-right: -$modal-pd;
    padding: 2rem $modal-pd;
    padding-bottom: 0;
    margin-top: $modal-pd;
    display: block;
    & > * {
      margin: 0;
    }
    .btn-action {
      justify-content: flex-end;
      gap: 1rem 2rem;
    }
  }
}
