body {
  background-color: #f4f5fa;
}
.red {
  color: $red;
}
.box-shadow {
  box-shadow: $box-shadow;
  background-color: #fff;
  border-radius: 5px;
}
.page-title {
  margin-bottom: 4rem;
  .ttl {
    font-size: $page-ttl-size;
    font-weight: 700;
  }
  &__left {
    .status-badge {
      display: none;
      &--active {
        display: inline-flex;
      }
    }
  }
  &__right {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &.has-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .ttl {
      flex: 1;
    }
    .btn {
      max-width: 20rem;
      margin-left: 1rem;
    }
  }
}
.status-badge {
  font-weight: bold;
  white-space: nowrap;
  position: relative;
  border-radius: 20px;
  line-height: 1;
  overflow: hidden;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  text-overflow: ellipsis;
  line-height: 1;
  word-break: break-word;
  display: inline-flex;
  align-items: center;
  font-size: calc(var(--body-size) - 0.2rem);
  margin-bottom: 1rem;
  color: #fff !important;
  font-weight: 400;
  &::before {
    border-radius: 50%;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 5px;
  }
  &--end {
    background: #dc3545 !important;
    &::before {
      background: #ebb6b2;
    }
  }
  &--open {
    background: #ffc107 !important;
    &::before {
      background: #a37b02;
    }
  }
  &--public {
    background: #0a922a !important;
    &::before {
      background: #176d13;
    }
  }
  &--draft {
    background: #6c757d !important;
    &::before {
      background: #2f353a;
    }
  }
  &--all {
    background: #17a2b8;
    &::before {
      background: #025966;
    }
  }
}
body.admin-page {
  .header {
    background: #fff;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    & > .container {
      max-width: none;
      padding: 0 4rem;
    }
    .row {
      justify-content: flex-end !important;
    }
    &-logo {
      display: none;
    }
    &-nav {
      &--item {
        &:not(.my-account) {
          display: none;
        }
        &.my-account {
          padding: 1rem 0;
          svg {
            width: 3rem;
            height: 3rem;
          }
        }
      }
    }
  }
  .main {
    display: flex;
    justify-content: flex-end;
  }
  .dashboard-nav {
    & + .main__content {
      width: calc(100% - $dashboard-width);
      transition: width 0.5s ease-in-out;
      padding: $dashboard-main_pd;
    }
  }
  &.activeshrink {
    .dashboard-nav {
      & + .main__content {
        width: calc(100% - 7.5rem);
      }
    }
  }
}
.campaignList {
  max-width: 60%;
  margin: $content-margin-top auto 0;
  background: #fff;
  box-shadow: $box-shadow;
  padding: 4rem;
  border-radius: 4px;
  .nav {
    &-tabs {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom-width: 2px;
    }
    &-link {
      padding: 1rem 2rem;
      font-weight: 600;
      border: 2px solid transparent;
      color: var(--body-color);
      cursor: pointer;
      transition: $transition;
      &.active {
        border-bottom-color: #fff;
        margin-bottom: -2px;
        padding-bottom: 1.1rem;
      }
    }
  }
  .tab-pane {
    padding: 3rem 0;
  }
}
.table {
  th,
  td {
    padding: $th-td-px $th-td-px;
    vertical-align: middle;
  }
  thead {
    th {
      padding-top: 1rem;
      padding-bottom: 1rem;
      background-color: $th_bkg;
      font-weight: 500;
    }
  }
}
.form {
  &-label {
    font-weight: 600;
    .txt-success {
      color: $green;
    }
  }
  // &-control {
  //   padding: 1rem 1.5rem;
  //   font-size: var(--body-size);
  //   line-height: 1.4;
  //   color: var(--body-color);
  //   min-height: 4.4rem;
  //   border: 1px solid $form-control_border;
  //   border-radius: 3px;
  //   &::placeholder {
  //     color: var(--body-color);
  //   }
  //   &__group {
  //     display: flex;
  //     & > .label {
  //       background-color: #e9ecef;
  //       display: flex;
  //       align-items: center;
  //       border: 1px solid $form-control_border;
  //       padding: 1rem 1.5rem;
  //       border-radius: 3px 0 0 3px;
  //       & + .form-control {
  //         border-left: none;
  //         border-radius: 0 3px 3px 0;
  //       }
  //     }
  //   }
  //   &[type='file'] {
  //     padding: 0;
  //   }
  // }
  select.form-control {
    appearance: auto;
  }
  &-title {
    margin-bottom: 3rem;
    .title {
      font-weight: 700;
    }
  }
  &-group {
    .form-control {
      & + .form-control {
        margin-top: 1.5rem;
      }
    }
    & + .form-group {
      margin-top: 4rem;
    }
  }
  .small {
    & + .form-control {
      margin-top: 0.5rem;
    }
  }
}
.btn {
  padding: $btn-py $btn-px;
  line-height: 1.4;
  font-size: var(--body-size);
  font-weight: 600;
  border: none;
  &.btn-primary {
    background-color: $btn-primary_bkg;
    color: $btn-primary_color;
  }
  &.btn-second {
    background-color: $btn-second_bkg;
    color: $btn-second_color;
  }
  &.btn-third {
    background-color: $btn-third_bkg;
    color: $btn-third_color;
  }
  &.btn-dashboard {
    background-color: $dashboard-btn_bkg;
    color: $dashboard-btn_color;
    min-width: 28rem;
  }
}
p {
  &.small {
    font-size: calc(var(--body-size) - 0.2rem);
    opacity: 0.8;
  }
  .link {
    color: $red;
  }
}
.message {
  border: 3px double transparent;
  padding: 1rem 1.5rem;
  margin-bottom: 3rem;
  &.error {
    border-color: $error;
    color: $error;
  }
  &.hide {
    display: none;
  }
}
.image {
  display: flex;
  align-items: center;
  border: 2px dashed $border_color;
  border-radius: $border-radius;
  padding: 1rem;
  justify-content: center;
  background-color: #f7f8fc;
  min-height: 12rem;
}
.tooltip-inner {
  position: relative;
}
.tooltip-message {
  position: absolute;
  left: calc(((50% - 30rem) / 2) + 1.5rem);
  width: 30rem;
  background: $tooltip-message_bkg;
  color: #fff;
  padding: 1rem;
  font-size: calc(var(--body-size) - 0.2rem);
  border-radius: $border-radius;
  margin-top: 5px;
  &::before {
    content: '';
    width: 0;
    height: 0;
    border: 8px solid;
    position: absolute;
    left: calc(50% - 8px);
    top: -15px;
    border-color: transparent transparent $tooltip-message_bkg;
    box-shadow: $box-shadow;
  }
}
.btn-add {
  background-color: $btn-add_bkg;
  color: $btn-add_color;
}
.btn-action {
  display: flex;
  justify-content: space-between;
}
