@import "../variable";
$dashborad-bkg:				        #191714;
$dashboard-py:                  2rem;
$dashboard-px:                  1rem;
$dashboard-color:             #fff;

.dashboard-nav{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: $dashborad-bkg;
  width: $dashboard-width;
  padding: $dashboard-py 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  transition: width 0.5s ease-in-out;
  &::before{
      content: "";
      position: absolute;
      width: 4rem;
      height: 100%;
      top: 0;
      left: 100%;
  }
  &__top{
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 0 $dashboard-px $dashboard-py;
      border-bottom: 2px solid #000;
      .shrink-btn{
          position: absolute;
          top: 50%;
          cursor: pointer;
          right: -3.5rem;
          transform: translateY(-50%) translateX(-8px);
          opacity: 0;
          pointer-events: none;
          transition: $transition;
          box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
          width: 3.2rem;
          height: 3.2rem;
          background-color: $dashborad-bkg;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px;
          svg{
              width: 1.6rem;
              height: 1.6rem;
              transition: $transition;
          }
      }
      .db-logo{
          height: 5.5rem;
          & > a{
              display: block;
              text-align: center;
              img{
                  max-height: 5.5rem;
              }
          }
      }
      .db-user{
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 1rem 0 0;
          .avatar{
              width: 5rem;
              height: 5rem;
              border-radius: 50%;
              margin-bottom: 0.5rem;
          }
          .name{
              font-size: calc(var(--body-size) - 0.2rem);
              transition: $transition;
          }
      }
  }
  &__links{
      border-bottom: 2px solid #000;
      padding: $dashboard-py 0;
      .title{
          padding: 0 $dashboard-px;
          text-transform: uppercase;
          font-weight: 700;
          height: 45px;
          transition: opacity 0.3s 0.2s, height 0.5s 0s;
      }
      .links{
          padding: 0 $dashboard-px;
          .link--item{
              margin: 0.5rem 0;
              position: relative;
              &:first-child{
                  margin-top: 0;
              }
              &:last-child{
                  margin-bottom: 0;
              }
              &::before{
                  content: "";
                  width: 0;
                  position: absolute;
                  left: 0;
                  top: 0;
                  background-color: transparent;
                  z-index: 0;
                  border-radius: 5px;
                  transition: $transition;
              }
              & > a{
                  display: flex;
                  color: $dashboard-color;
                  position: relative;
                  min-height: 5rem;
                  padding-right: 1.5rem;
                  & > span:not(.icon){
                      transition: $transition;
                      line-height: 1.5;
                      display: flex;
                      align-items: center;
                      flex: 1;
                      white-space: nowrap;
                  }
                  .icon{
                      min-width: 5.5rem;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      flex: 0 1 auto;
                  }
                  svg{
                      width: 2rem;
                      height: 2rem;
                  }
              }
              &.active{
                  &::before{
                      background: #022b54;
                      bottom: 0;
                      width: 100%;
                  }
              }
          }
      }
  }
  &:hover{
    .shrink-btn{
      transform: translateY(-50%) translateX(0px);
      opacity: 1;
      pointer-events: all;
    }
  }
  & + .main__content{
    width: calc(100% - $dashboard-width);
    transition: width 0.5s ease-in-out;
    padding: $dashboard-main-padding;
  }
}
body.activeshrink{
  .dashboard-nav{
    width: 7.5rem;
    &__top{
      .db-user{
        .name{
            font-size: 1rem;
        }
      }
      .shrink-btn{
        &.onclick{
            svg{
                rotate: 180deg;
            }
        }
      }
    }
    &__links{
      .links{
        .link--item{
          & > a{
            & > span:not(.icon){
              opacity: 0;
              pointer-events: none;
              transition-delay: 0s;
            }
          }
        }
      }
      .title{
        opacity: 0;
        pointer-events: none;
        transition-delay: 0s;
        height: 0;
      }
    }
  }
}
